@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-primary-color: #f6f6f6;
    --primary-font-color: #214026;
    --primary-font: "Poppins", sans-serif;
    --logo-font: "Madimi One", sans-serif;
}

/* Header Section */
header {
    width: 100%;
    height: 600px;
}
.header-con {
    width: 100%;
    height: 400px;
    background-color: var(--bg-primary-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    justify-content: center;
    position: absolute;
}

/* NAV CONTAINER */

.nav-link {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 500px;
    padding-top: 20px;
    top: 0;
    background-color: var(--bg-primary-color);
}

.nav-link .logo {
    font-family: var(--logo-font);
    font-weight: 600;
}

.nav-link .logo span {
    font-size: .70rem;
    color: var(--primary-font-color);
}

.nav-link .nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.nav-link a {
    font-size: .80rem;
    text-decoration: none;
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-weight: 600;
}

.nav-link button {
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    background-color: var(--primary-font-color);
    color: var(--bg-primary-color);
    border-style: none;
    cursor: pointer;
    font-weight: 600;
}

.nav-link button:hover {
    background-color: #214026d7;
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* HEADER CONTAINER */

.head-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.head-container .text {
    margin-top: 70px;
    margin-left: 50px;
    font-family: var(--primary-font);
    
}

.head-container .text span {
    word-spacing: 1px;
    font-style: bold;
    font-weight: 800px;
    font-size: 1rem;
    color: var(--primary-font-color);
}

.head-container .text p {
    font-size: .80rem;
    width: 250px;
    text-align: justify;
    margin-bottom: 15px;
}

.head-images {
    display: flex;
    justify-content: center;
}

#f-image {
    position: absolute;
    padding-top: 60px;
}

#a-image {
    margin-top: 50px;
    margin-left: 200px;
}

#f-image img{
    width: 650px;
}

#a-image img{
    width: 500px;
}

.head-container .sub-mail {
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

.head-container .subscribe {
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 200;
    font-size: .70rem;
    width: 120px;
    margin-top: 10px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.head-container .head-button #sub-one {
    background: var(--primary-font-color);
    color: var(--bg-primary-color);
}

.head-container .head-button #sub-two {
    background-color: transparent;
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
}

.sales {
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: -100px;
}

.sales .head-text {
    width: 100%;
    height: 40px;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.sales-text {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.text-con {
    display: flex;
    width: 70%;
    justify-content: center;  
    gap: 60px;
    margin-top: -10px;
    text-align: center;
}

.text-con .text {
    width: 400px;
    font-family: var(--primary-font);
}


.text-con .text .fa{
    font-size: 2rem;
    color: var(--primary-font-color);
    margin-bottom: 20px;
}

.text-con .text span {
    color: var(--primary-font-color);
    font-weight: 600;
    font-size: 1rem;
}

.text-con .text p {
    margin-top: 15px;
    font-size: .70rem;
}


.ingredients {
    width: 100%;
    height: 60em;
    margin-top: 100px;
    clip-path: polygon(0 40%, 100% 20%, 100% 80%, 0% 100%);
    background-color: var(--bg-primary-color);
}

.ingredients-con {
    width: 100%;
    height: 800px;
    padding-top: 200px;
}

.ingredients .text-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ingredients .text-con span {
    width: 100%;
    height: 10px;
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.ingredients .p-con p {
    width: 450px;
    font-size: .80rem;
    font-family: var(--primary-font);
}

.ingredients .text-con .images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-top: 2px;
}

.ingredients .images #toothpaste {
    position: absolute;
    padding-top: 160px;
    margin-right: 100px;
}

.ingredients .image img {
    width: 150px;
}

#pack img{
    height: 200px;
}

.ingredients .images #image3 {
    position: absolute;
    padding-top: 206px;
    margin-left: 60px;
    transform: scaleX(-1);
}

.ingredients .images #image3 img {
    width: 200px;
}

.dots {
    font-size: .80rem;
    font-family: var(--primary-font);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    align-items: center;
}

.dot-1 {
    display: flex;
    gap: 230px;
    padding-right: 30px;

}
.dot-2 {
    width: 100%;
    display: flex;
    gap: 230px;
    justify-content: center;
    padding-right: 10px;
}
.dot-3 {
    width: 100%;
    display: flex;
    gap: 200px;
    justify-content: center;
    padding-left: 20px;
}
.dot-4 {
    width: 100%;
    display: flex;
    gap: 170px;
    justify-content: center;
    padding-right: 70px;
}

.our-product-button {
    justify-content: center;
    display: flex;
    font-weight: 200;
    width: 100%;
    padding-top: 20px;
    position: absolute;
}

.our-product-button .our-products {
    font-family: var(--primary-font);
    background: var(--primary-font-color);
    padding: 0.80rem 2rem;
    border-radius: 30px;
    border: none;
    font-size: .80rem;
    cursor: pointer;
    color: #fff;
}

.explore-product {
    width: 100%;
    height: 300px;
    position: absolute;
}

.explore-product .text {
    display: grid;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
}

.explore-product .text span {
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 100px;
}

.explore-product .text p {
    width: 400px;
    font-size: .80rem;
}

.explore-product .products {
    display: flex;
    width: 100%;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.product {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product::after {
    font-family: var(--primary-font);
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: var(--primary-font-color);
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
}

.product .title {
    font-family: var(--primary-font);
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 600;
    color: #000;
}

.product .price {
    font-family: var(--primary-font);
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
}

.product:hover::after {
    bottom: 0;
    opacity: 1;
}

.product:active {
    transform: scale(0.98);
}

.product:active::after {
    content: "Added !";
    height: 3.125em;
}

.product img {
    width: 150px;
}

#pac img {
    width: 100px;
}

.list {
    width: 100%;
    height: 500px;
    background: var(--bg-primary-color);
    clip-path: polygon(0 40%, 100% 20%, 100% 100%, 0% 100%);
    position: absolute;
    margin-top: 500px;

}

.list-con {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
}

.list-con .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-con .text span {
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 1rem;
}
.list-con .text p {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .80rem;
}

.list-form {

    width: 339px;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.list-form form {
    gap: 20px;
}


.list-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.list-form input:focus {
    outline: none;
    box-shadow: 0 0 5px #214026;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.list-con button[type="submit"] {
    background-color: #214026;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.list-con button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.popup {
    width: 400px;
    height: 200px;
    background-color: #fff;
    margin-top: 100px;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.0);
    text-align: center;
    padding: 50px 30px 30px;
    visibility: hiddens;
    transition: transform 0.4s, top 0.4s;
    border-radius: 20px;
    font-family: var(--primary-font);
    font-size: 0.80rem;
}

#popup-button{
    position: relative;
    overflow: hidden;
    border: 1px solid #214026;
    color: #214026;
    display: inline-block;    
    font-size: .40rem;
    line-height: 15px;
    padding: 10px 20px 9px;
    text-decoration: none;    
    cursor: pointer;    
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#popup-button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

#popup-button span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

#popup-button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-font-color);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

#popup-button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

#popup-button:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#popup span {
    font-size: 0.80rem;
    color: #214026;
}

#popup p{
    margin-bottom: 10px;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* Footer Section */

.footer {
    width: 100%;
    height: 250px;
    background-color: #214026;
    margin-top: 1000px;
}

.footer .footer-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.footer .footer-con span {
    color: #fff;
    font-family: var(--primary-font);
}

.footer .card {
    width: 250px;
    display: flex;
    height: 70px;
    font-family: var(--primary-font);
}
  
.card svg {
    position: absolute;
    display: flex;
    width: 40%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card svg {
    transform: scale(1);
  }
  
  .card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
  }
  
  .card .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.2);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }